@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 0 10%;
}

.logo h2 {
  color: #f9faf8;
  font-size: 24px;
}

.link a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 32px;
  font-size: 18px;
}

.link a:hover {
  color: #f9faf8;
  text-decoration: underline;
}

#hero {
  display: flex;
  padding: 64px 10%;
  margin-bottom: 64px;
  height: 500px;
  background-color: #1f2937;
}

.title-container {
  width: 50%;
  padding-right: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0 0 16px;
}

.title p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 400;
  margin: 0;
}

.title {
  margin-bottom: 32px;
}

.title-container button {
  width: fit-content;
  padding: 8px 32px;
  border: none;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
}

.title-container button:hover {
  background-color: #2b5dac;
  cursor: pointer;
  transform: scale(1.005);
  transition: all 0.3s linear;
}

.hero-image {
  width: 50%;
  height: 100%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  transform: rotate();
  object-fit: cover;
}

#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  margin-bottom: 64px;
}

#news h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 0 0 64px;
}

.news-container {
  display: flex;
  gap: 32px;
}

.news-content {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: #1f2937;
}

.news-content:hover {
  cursor: pointer;
  transform: scale(1.005);
  transition: all 0.3s linear;
  background-color: #2d3847;
}

.news-content h3 {
  font-size: 18px;
  color: #f9faf8;
}

.news-content p {
  font-size: 14px;
  color: #e5e7eb;
}

.news-content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

#testimonial {
  padding: 128px 10%;
  margin-bottom: 64px;
  background-color: #e5e7eb;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.testimonial-container p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 16px;
}

.testimonial-container cite {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  margin-right: 64px;
}

#cta {
  padding: 0 10%;
  margin-bottom: 64px;
  color: #f9faf8;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 48px 0;
}

.cta-container h2 {
  margin: 0;
}

.cta-container p {
  margin: 0;
  color: #e5e7eb;
}

.cta-container button {
  width: fit-content;
  padding: 8px 32px;
  border: none;
  background-color: #3882f6;
  border: solid 3px #f9faf8;
  color: #f9faf8;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
}

.cta-container button:hover {
  cursor: pointer;
  background-color: #2b5dac;
  transform: scale(1.005);
  transition: all 0.3s linear;
}

footer {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  background-color: #1f2937;
  color: #e5e7eb;
}
